<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="org content">
      <h2>Learn more about us here!</h2>
    </div>
  </body>

  <%- include('./partials/footer.ejs') %>
</html>
